:root {
  --body-regular-font-family: "SF Pro", Helvetica;
  --body-regular-font-size: 17px;
  --body-regular-font-style: normal;
  --body-regular-font-weight: 400;
  --body-regular-letter-spacing: -0.4300000071525574px;
  --body-regular-line-height: 22px;
  --system-colors-colors-blue: rgba(0, 122, 255, 1);
  --system-colors-labels-secondary: rgba(60, 60, 67, 0.6);
  --system-colors-labels-tertiary: rgba(60, 60, 67, 0.3);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-system-colors-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-system-colors-mode="light"] {
  --system-colors-colors-blue: rgba(0, 122, 255, 1);
  --system-colors-labels-secondary: rgba(60, 60, 67, 0.6);
  --system-colors-labels-tertiary: rgba(60, 60, 67, 0.3);
}

[data-system-colors-mode="dark"] {
  --system-colors-colors-blue: rgba(10, 132, 255, 1);
  --system-colors-labels-secondary: rgba(235, 235, 245, 0.6);
  --system-colors-labels-tertiary: rgba(235, 235, 245, 0.3);
}

[data-system-colors-mode="dark-elevated"] {
  --system-colors-colors-blue: rgba(10, 132, 255, 1);
  --system-colors-labels-secondary: rgba(235, 235, 245, 0.6);
  --system-colors-labels-tertiary: rgba(235, 235, 245, 0.3);
}
